apiVersion: v1
kind: Service
metadata:
  name: {{ deployment_name }}
  labels:
    app: {{ deployment_name }}
spec:
  type: {{ service_type }}
  ports:
  - port: {{ service_port }}
    targetPort: {{ deployment_port }}
    protocol: TCP
    nodePort: 30500
    name: {{ port_name }}
  selector:
    app: {{ deployment_name }}